<% if(comments){ %> 
    
    <% if(comments.length){%>
        <ul>
    <% } %> 

        <% comments.forEach(function(comment){%>
        <li>
            <%= comment.topic %> -By <%=comment.user.username%>
            <a href="/courses/<%=id %>/lectures/<%= lecture._id%>/comments/<%= comment._id %>/reply">Reply<a>                     
            <a href="/courses/<%=id %>/lectures/<%= lecture._id%>/comments/<%= comment._id %>/edit">Edit</a> 
            <form action="/courses/<%=id %>/lectures/<%= lecture._id%>/comments/<%= comment._id %>?_method=DELETE" method="post">
                <button>Delete</button>
            </form> 
            <%- include('printComments',{comments:comment.comments,lecture,id}) %>
        </li>
        <%}) %> 
    <% if(comments.length){%>
        </ul>
    <% } %>
<% } %> 