<% if(comments){ %> 
    
    <% if(comments.length){%>
        <ul>
    <% } %> 

        <% comments.forEach(async function(comment){%>
        <li>
            <%= comment.topic %>
            <a href="/courses/<%=id %>/lectures/<%= lecture._id%> /comments/<%= comment._id %>/reply">Reply</a>        
            <% const replyComment = await comment.populate('comments') %>                        
            <%- include('printComments',{comments:replyComment.comments,lecture,id}) %>
        </li>
        <%}) %> 
    <% if(comments.length){%>
        </ul>
    <% } %>
<% } %> 