<%-include('../partials/header',{title: "Announcements"})%>
<%-include('../partials/sidebar',{active:"announcements",courseId:course._id}) %> 
<% for(let announcement of announcements){ %>
    <div>
        <%=announcement.description %> 
        <%=announcement.createdOn.toLocaleString() %> 
    </div>
<% } %> 

<% if(currentUser._id.toString()===course.teacher._id.toString()){ %> 
    <div class="dropdown">
        <div id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Make an Announcement</div>
        <form class="needs-validation dropdown-menu w-100 border-0" aria-labelledby="dLabel" novalidate action="/courses/<%=course._id%>/announcements" method="post">
            <div class="mb-3">
                <label for="description">Description: </label>
                <textarea class="form-control" name="description" id="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success btn-sm" type="submit">Submit</button>
            </div>
        </form>
    </div>
<% } %> 
<%-include('../partials/sidebarFooter')%> 
<%-include('../partials/footer')%>