<%-include('../partials/header',{title: "Announcements"})%>

<% for(let announcement of announcements){ %>
    <div>
        <%=announcement.description %> 
        <%=announcement.createdOn.toLocaleString() %> 
    </div>
<% } %> 

<h1>Make an Announcement</h1>
<form class="needs-validation" novalidate action="/courses/<%=courseId%>/announcements" method="post">
    <div class="mb-3">
        <label for="description">Description: </label>
        <textarea class="form-control" name="description" id="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</form>
<%-include('../partials/footer')%>