<%-include('../partials/header',{title: "Polls"})%>
<%-include('../partials/sidebar',{active:"polls",courseId:course._id}) %> 
<% for(let poll of polls){ %>
    <div class="card mb-2">
        <div class="card-header">
            <%=poll.question %> on
            <%=poll.createdOn.toLocaleString() %> 
        </div>
        <div class="card-body p-3">
            <form action="/courses/<%=course._id%>/polls/<%=poll._id%>" method="post">
                <% for(let option of poll.options){ %> 
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option" id="o<%=option._id%>" value="<%=option._id%>">
                        <label class="form-check-label" for="o<%=option._id%>">
                        <%= option.text %> 
                        </label>
                    </div>
                <% } %> 
                <hr class="my-2">
                <div class="row">
                    <button class="btn btn-success btn-sm col-auto">Vote</button>
                    <div class="col-auto">
                        End on <%=poll.endOn.toLocaleString() %> 
                    </div>
                </div>
            </form>
            
        </div>
    </div>
<% } %> 

<% if(currentUser._id.toString()===course.teacher._id.toString()){ %> 
    <div type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">Conduct a Poll</div>
    <div class="collapse" id="collapseExample">
        <form class="needs-validation w-100 border-0" novalidate action="/courses/<%=course._id%>/polls" method="post">
            <div class="mb-3">
                <label for="question">Question: </label>
                <textarea class="form-control" name="question" id="question" rows="2"></textarea>
            </div>
            <div class="">
                Options:
            </div>
            <div id="options">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text h-100">
                            <input class="form-check-input" type="radio" disabled>
                        </div>
                    </div>
                    <input type="text" class="form-control" name="options[]">
                    <div class="h-100 py-2 border">
                        <span class="bi-x-lg mx-2" onclick="removeOption(this)"></span>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text h-100">
                            <input class="form-check-input" type="radio" disabled>
                        </div>
                    </div>
                    <input type="text" class="form-control" name="options[]">
                    <div class="h-100 py-2 border">
                        <span class="bi-x-lg mx-2" onclick="removeOption(this)"></span>
                    </div>
                </div>
            </div>
            <button class="mb-3 btn btn-success btn-sm" type="button" onclick="addOption()">
                Add Option
            </button>
            <div class="mb-3">
                <label for="endOn">End Poll on: </label>
                <input class="form-control" type="date" name="endOn" id="endOn">
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
<% } %> 

<script>

    function removeOption(e){
        e.parentElement.parentElement.remove();
    }

    function addOption(){
        const optionsDiv = document.getElementById("options");
        const newOption = document.createElement("div");
        newOption.setAttribute("class","input-group mb-3")
        newOption.innerHTML = `
            <div class="input-group-prepend">
                <div class="input-group-text h-100">
                    <input class="form-check-input" type="radio" disabled>
                </div>
            </div>
            <input type="text" class="form-control" name="options[]">
            <div class="h-100 py-2 border">
                <span class="bi-x-lg mx-2" onclick="removeOption(this)"></span>
            </div>
        `;
        optionsDiv.append(newOption);
    }

</script>
<%-include('../partials/sidebarFooter')%> 
<%-include('../partials/footer')%>