<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.name %> </title>
</head>
<body>
    <%-include('../partials/navbar')%>
    <%-include('../partials/flash')%>
    <h1><%=course.name%> </h1>

    <% if(currentUser && currentUser._id.equals(course.teacher._id)){ %> 
    <a href="/courses/<%= course._id%>/edit">Edit</a>
    <form action="/courses/<%= course._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>

    <a href="/courses/<%= course._id%>/lectures/new">Add Lecture</a>
    <%}%>

    <%for(let lecture of course.lectures){%>
        <div> <a href="/courses/<%= course._id%>/lectures/<%= lecture._id %>"><%=lecture.name%></a></div>
    <%}%>
</body>
</html>