<%-include('../partials/header',{title: course.name})%>
    <h1><%=course.name%> </h1>

    <% if(currentUser && currentUser._id.equals(course.teacher._id)){ %> 
        <div class="row mb-3">
            <div class="col-md-auto">
                <a class="btn btn-light" href="/courses/<%= course._id%>/lectures/new">Add Lecture</a>
            </div>
            <div class="col-md-auto">
                <a class="btn btn-success" href="/courses/<%= course._id%>/edit">Edit</a>
            </div>
            <div class="col-md-auto">
                <form action="/courses/<%= course._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    <%}else if(currentUser && !(course.teacher.equals(currentUser._id) || course.users.includes(currentUser._id))){%>
        <div class="row mb-3">
            <form action="/courses/<%=course._id%>/enroll" method="POST">
                <button class="btn btn-primary">Enroll in Course</button> 
            </form>
        </div>
    <%}%>

    <%for(let lecture of course.lectures){%>
        <div class="card mb-3"> 
            <div class="card-body">
                <a href="/courses/<%= course._id%>/lectures/<%= lecture._id %>"><%=lecture.name%></a>
            </div>
        </div>
    <%}%>
 
    <%-include('../partials/footer')%>