<%-include('../partials/header',{title: "Edit Lecture"})%>
    <h1>Edit Lecture</h1>
    <form class="needs-validation" novalidate action="/courses/<%=id%>/lectures/<%= lecture._id %>?_method=PUT" method="post">
        <div class="mb-3">
            <label for="name">Name: </label>
            <input class="form-control" type="text" name="lecture[name]" id="name" value="<%=lecture.name%>">
        </div>
        <div class="mb-3">
            <label for="description">Description: </label>
            <textarea class="form-control" name="lecture[description]" id="description" rows="3"><%=lecture.description %> </textarea>
        </div>
        <div class="mb-3">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
<%-include('../partials/footer')%>