<%-include('../partials/header',{title: "Edit Comment"})%>
    <h1>Edit Comment</h1>
    <form action="/courses/<%=id%>/lectures/<%= lectureId %>/comments/<%=comment._id %>?_method=PUT" method="post">
        <%if(comment.topic){%> 
            <div class="mb-3">
                <label for="topic">Topic: </label>
                <input class="form-control" type="text" name="comment[topic]" id="topic" value="<%=comment.topic%>">
            </div>
        <% } %> 
        <div class="mb-3">
            <label for="text">Text: </label>
            <textarea class="form-control" name="comment[text]" id="text" rows="3"><%=comment.text %> </textarea>
        </div>
        <button>Save</button>
    </form>
<%-include('../partials/footer')%>