<%-include('../partials/header',{title: "Notifications"})%>
    <h1>Notifications</h1>
    <%notifications.sort(function(a,b) { return b.createdOn-a.createdOn;})%>
    
    <%for(let notification of notifications){%>
        <div class="card mb-3">
            <div class="card-body">
                <div class="card-text">
                    <%-notification.description%> on <%=notification.createdOn.toLocaleString()%>

                    <%if(notification.category=="enroll" && !notification.isResolved){%>
                        <div class="row">
                            <div class="col-auto">
                                <a class="btn btn-success btn-sm" href="/notifications/<%=notification._id%>?toAccept=true">Accept</a>
                            </div>
                            <div class="col-auto">
                                <a class="btn btn-danger btn-sm" href="/notifications/<%=notification._id%>?toAccept=false">Decline</a>
                            </div>
                        </div>
                    <%}else if(!notification.isResolved){%>
                        <a class="nav-link" href="/notifications/<%=notification._id %>/dismiss">Dismiss</a>
                    <%}%>
                </div>  
            </div>
        </div>
    <%}%>
<%-include('../partials/footer')%>